@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.loader_one,
.loader_two,
.loader_three {
    border-radius: 100%;
    margin: 3px;
    animation: animate 1s infinite alternate;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.2);
    }
}

.loader_one {
    animation-delay: .33s;
    border: 5px solid #00baf2;
}

.loader_two {
    animation-delay: .66s;
    border: 5px solid #00baf2;
}

.loader_three {
    animation-delay: 1s;
    border: 5px solid #00baf2;
}

.loader-circle {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 #00baf2;
    -webkit-animation: _1_MBM 1s linear infinite;
    animation: _1_MBM 1s linear infinite;
}